<!DOCTYPE html>
<html lang="en" ng-app="superPhoneApp">
<head>
  <meta charset="UTF-8">
  <title>SuperPhone</title>
  <link rel="stylesheet" href="style.css">

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
  <script src="app.js"></script>
</head>
<body ng-controller = 'superPhonesCtrl as vm'>

  <h1>SuperPhone</h1>
  <br>
  <div class = "new-hero-form">
      <h2>Add a new hero to SuperPhone!</h2>
      Name: <input type="text" placeholder="Name"  ng-model="vm.newName">
      Number: <input type="text" placeholder="xxx-xxx-xxxx"  ng-model="vm.newNumber">
      Company: <select type="text" ng-model="vm.newCompany">
        <option value="DC">DC</option>
              <option value="Marvel">Marvel</option>
              <option value="Other">Other</option>
            </select>
      Picture:<input type="text" placeholder="Photo URL"ng-model="vm.newImage">
      <button ng-click="vm.addSuperPhone()"> Submit </button>
    </div>
    <br>
      <input type="text" placeholder="Search for Heroes" ng-model= "superPhone" class="search">
<div class = "hero-info">
  <div ng-repeat = "superPhone in vm.superPhones | filter:superPhone"
       ng-class="{'dc': superPhone.company === 'DC', 'marvel': superPhone.company === 'Marvel', 'image': superPhone.company === 'Image', 'other': superPhone.company === 'Other'}" >

    <h1>{{superPhone.name}}</h1>
    <h2>Phone Number: <br>{{superPhone.number}}</h2>
    <h3>Company: {{superPhone.company}}</h3>
    <button ng-click="viewImage = !viewImage"> Picture </button> <button ng-click="edit = !edit">Edit</button><p ng-show="viewImage"><img src="{{superPhone.image}}"></p>
          <div ng-show="edit" ng-submit="edit = false">
            <form class="edit-form">
              <label>Name: </label><input type="text" ng-model="superPhone.name" placeholder="Name" ng-required>
              <label>Phone: </label><input type="text" ng-model="superPhone.number" placeholder="xxx-xxx-xxxx" ng-required>
              <label>Photo: </label><input type="text" ng-model="superPhone.image" placeholder="Photo" ng-required placeholder="Photo URL">
              <label>Comic: </label><select name="Comic" type="text" ng-model="superPhone.company" placeholder="Comic" ng-required>
                <option value="DC">DC</option>
                <option value="Marvel">Marvel</option>
                <option value="Other">Other</option>
              </select>
              <br>
              <button type="submit">Save</button>
  </div>
</div>
</div>


</body>
</html>
