<!DOCTYPE html>
<html lang="en" ng-app="superPhoneApp">
<head>
  <meta charset="UTF-8">
  <title>SuperPhone</title>
  <link rel="stylesheet" href="style.css">

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
  <script src="app.js"></script>
</head>
<body ng-controller = 'superPhonesCtrl as vm'>
  <input type="text" placeholder="Search for Heroes" ng-model= "superPhone">
  <h2>Heroes</h2>
  <br>
  <div class = "new-hero-form">
      <h3>Add a new hero to SuperPhone!</h3>
      Name: <input type="text" ng-model="vm.newName">
      Number: <input type="text" ng-model="vm.newNumber">
      Company: <input type="text" ng-model="vm.newCompany">
      Picture:<input type="text" ng-model="vm.newImage">
      <button ng-click="vm.addSuperPhone()"> Submit </button>
    </div>
    <br>
<div class = "hero-info">
  <div ng-repeat = "superPhone in vm.superPhones | filter:superPhone"
       ng-class="{'dc': superPhone.company === 'DC', 'marvel': superPhone.company === 'Marvel', 'image': superPhone.company === 'Image', 'amalglam': superPhone.company === 'Amalglam'}" >

    <p>{{superPhone.name}}</p>
    <p>Phone Number: <br>{{superPhone.number}}
    <p>Company: {{superPhone.company}}</p>
    <button ng-click="viewImage = !viewImage"> Picture </button> <p ng-show="viewImage"><img src="{{superPhone.image}}"></p>
  </div>
</div>


</body>
</html>
