body{
  background-image: url("https://newevolutiondesigns.com/images/freebies/city-wallpaper-46.jpg");
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  color: white;
  text-shadow:
    -1px -1px 0 #000,
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000;
}

h2, h3{
  text-align: center;
}

 img {
    height: 200px;
    width: 200px;
    padding: 5px;
    float: right;
}

.dc {
  border: solid blue;
  text-align: center;
  margin: 50px;
  padding: 10px;

}

.marvel {
  border: solid red;
  text-align: center;
  margin: 50px;
  padding: 10px;

}

.other {
  border: solid hotpink;
  text-align: center;
  margin: 50px;
  padding: 10px;
}


.new-hero-form {
  text-align: center;
}

.hero-info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 100px;
}

.search {
  display: flex;
  margin: 0 auto;
  text-align: center;
}

.editForm {
  display: flex;
  flex-direction: column;
}
