h2 {
  color: black;
}

body {
  color: white;
}

 img {
    height: 400px;
    width: 400px;
}

.marvel {
  background-color: red;
  width: 400px
}

.dc {
  background-color: blue;
  width: 400px

}

.image {
  background-color: orange;
  width: 400px
}

.amalglam {
  background-color: hotpink;
  width: 400px
}

.new-hero-form {
  color: black;
}
