body{
  background-image: url("https://img1.etsystatic.com/020/0/5531478/il_fullxfull.478127607_c2q4.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  text-shadow:
    -1px -1px 0 #000,
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000;
}

h1, h2, h3{
  text-align: center;
}

 img {
    height: 200px;
    width: 200px;

}

.dc {
  border: solid blue;
  text-align: center;
  margin: 10px;
  padding: 10px;
  background:rgba(255,255,255, 0.3);

}

.marvel {
  border: solid red;
  text-align: center;
  margin: 10px;
  padding: 10px;
  background:rgba(255,255,255, 0.3);

}

.other {
  border: solid hotpink;
  text-align: center;
  margin: 10px;
  padding: 10px;
  background:rgba(255,255,255, 0.3);
}


.new-hero-form {
  text-align: center;
}

.hero-info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 60%;
  padding: 50px;
  margin: 0 auto;
}

.search {
  display: flex;
  margin: 0 auto;
  text-align: center;
  width: 300px;

}

.edit-form {
  display: flex;
  flex-direction: column;
  width: 200px;
  text-align: center;
  margin: 0 auto;

}

input, select  {
  font-size: 18px;
  text-align: center;
}

button {
  background-color: silver;
  font-size: 18px;

}
